body{
    background-color: beige;
}

div{
    margin: 5px;
}

img{
    display: block;
    width: 400px;
}

table{
    font-size: 20px;
    width: 300px;
}

table tr td:first-child{
    font-weight: bold;
}

table tr td{
    text-align: center;
    border: 1px solid black;
}